body {
    background: #F08EB2
}

#A-casa-ludica-007 {
    width: 100%
}

.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado {
    text-align: center
}

p {
    text-align: center;
}

#objetivo {
    font-size: 20px
}

strong {
    color: yellow;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

h2 {
    text-align: center;
}

ul {
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 28%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
}